<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/banner_cd.png">

# Parte 2

# Ejercicio

<div class="alert alert-success">

**Creación de un DataFrame con series y diccionarios**
    
1. Definir un DataFrame a partir de 4 series y cada Serie a partir de un diccionario. 
</div>

Ejemplo:


``` python
Alan = pd.Series({'Edad': 20 ,
                  'Altura': 1.70,
                  'Peso': 68,
                  'Estado': 'Yucatán',
                  'Color favorito':'Azul',
                  'Licenciatura': 'Derecho'})
María = pd.Series({'Edad': 21 ,
                   'Altura': 1.80,
                   'Peso': 80,
                   'Color favorito':'Rojo',
                   'Licenciatura': 'Ingeniería'})
Pedro = pd.Series({'Edad': 23 ,
                   'Altura': 1.67,
                   'Peso': 75,
                   'Estado': 'Aguascalientes',
                   'Color favorito':'Morado',
                   'Licenciatura': 'Artes'})
Esmeralda = pd.Series({'Edad': 25 ,
                       'Altura': 1.72,
                       'Peso': 60,
                       'Estado': 'Campeche',
                       'Licenciatura': 'Turismo'})
Karen = pd.Series({'Edad': 25 ,
                  'Altura': 1.74,
                  'Peso': 69,
                  'Estado': '',
                  'Color favorito':'Azul',
                  'Licenciatura': 'Psicología'})

df_alumnos = pd.DataFrame({'Alan':Alan,
                           'María': María, 
                           'Pedro': Pedro, 
                           'Esmeralda': Esmeralda, 
                           'Karen': Karen
                           })
df_alumnos

```

In [76]:
import pandas as pd

ford = pd.Series({
    "pais" : "Estados Unidos",
    "fundacion" : 1903,
    "modelos" : ["Mustang", "Focus", "Explorer"]
})
toyota = pd.Series({
    "pais": "Japón",
    "fundacion": 1937,
    "modelos": ["Corolla", "Camry", "Hilux", "Supra"]
})
bmw = pd.Series({
    "pais": "Alemania",
    "fundacion": 1916,
    "modelos": ["Serie 3", "X5", "i8", "M4"]
})
ferrari = pd.Series({
    "pais": "Italia",
    "fundacion": 1939,
    "modelos": ["488", "LaFerrari", "F8 Tributo", "Roma"]
})

In [77]:
df_marcas_autos = pd.DataFrame({
    "Ford" : ford,
    "Toyota": toyota,
    "BMW" : bmw,
    "Ferrari": ferrari
})

df_marcas_autos

,Ford,Toyota,BMW,Ferrari
pais,Estados Unidos,Japón,Alemania,Italia
fundacion,1903,1937,1916,1939
modelos,"[Mustang, Focus, Explorer]","[Corolla, Camry, Hilux, Supra]","[Serie 3, X5, i8, M4]","[488, LaFerrari, F8 Tributo, Roma]"

# Parte 2

# Ejercicios con los datos del Titanic

Descripción de las columnas :

    Survival - Supervivencia (0 = No; 1 = Si).
    Pclass - Clase (1 = 1st; 2 = 2nd; 3 = 3rd)
    Name - Nombre
    Sex - Sexo
    Age - Edad
    Sibsp - Número de hermanos / cónyuges a bordo
    Parch - Número de padres / niños a bordo
    Ticket - Número de ticket
    Fare - Tarifa
    Cabin - Número de cabina
    Embarked - Puerto de embarque (C = Cherbourg; Q = Queenstown; S = Southampton)

In [78]:
#Utilizar el archivo datos/titanic.csv
df = pd.read_csv("datos/titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [79]:
#muestre las primeras líneas del DataFrame
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<div class="alert alert-success">

<b>EJERCICIO 1 </b>: 
    
    
Encontrar el promedio de edad para los pasajeros de cada clase.
    
    
</div>

In [80]:
print(f'Prom. edad 1ra clase: {(df[df["Pclass"] == 1]["Age"].mean())}')
print(f'Prom. edad 2da clase: {(df[df["Pclass"] == 2]["Age"].mean())}')
print(f'Prom. edad 3ra clase: {(df[df["Pclass"] == 3]["Age"].mean())}')

Prom. edad 1ra clase: 38.233440860215055
Prom. edad 2da clase: 29.87763005780347
Prom. edad 3ra clase: 25.14061971830986

<div class="alert alert-success">

<b>EJERCICIO 2</b>: 
  
Encontrar el número total de pasajeros por cada punto de embarcación.     
    
</div>

In [81]:
print(f'Pasajeros en Cherbourg: {len(df[df["Embarked"]=="C"])}')
print(f'Pasajeros en Queenstown: {len(df[df["Embarked"]=="Q"])}')
print(f'Pasajeros en Southampton: {len(df[df["Embarked"]=="S"])}')

Pasajeros en Cherbourg: 168
Pasajeros en Queenstown: 77
Pasajeros en Southampton: 644

<div class="alert alert-success">

<b>EJERCICIO 3</b>: 
  
a) Encontrar el promedio de edad de los pasajeros que sobrevivieron. 
    
b) Encontrar el promedio de edad de los hombres que sobrevivieron
    
c) Encontrar el promedio de edad de las mujeres que sobrevivieron
</div>

#### a) Promedio de edad de sobrevivientes

In [82]:
print(df[df["Survived"] == 1]["Age"].mean())

28.343689655172415

#### b) Promedio de edad de hombres sobrevivientes

In [83]:
print(df[(df["Survived"] == 1) & (df["Sex"] == "male")]["Age"].mean())

27.276021505376345

#### c) Promedio de edad de mujeres sobrevivientes

In [84]:
print(df[(df["Survived"] == 1) & (df["Sex"] == "female")]["Age"].mean())

28.84771573604061

<div class="alert alert-success">

<b>EJERCICIO 4</b>: 
  
¿Cuál fue el número de sobrevivientes mujeres  mayores a 40 años? 

</div>

In [85]:
len(df[(df["Survived"] == 1) & (df["Sex"] == "female") & (df["Age"] > 40)])

37

<div class="alert alert-success">

<b>EJERCICIO 5</b>: 
  
La edad del más joven y de la persona de mayor edad. 

</div>

In [86]:
print(f'Menor edad: {df["Age"].min()}')
print(f'Mayor edad: {df["Age"].max()}')

Menor edad: 0.42
Mayor edad: 80.0

# Parte 2:  Escuelas de Jalisco 
Utilizar los datos del archivo "cct_estadistica_short.csv" para realizar los siguientes ejercicios

In [87]:
#Leer los datos 
df = pd.read_csv('datos/cct_estadistica_short.csv',  encoding='latin1')
df

,CLAVE CT,NOM TURNO,NOMBRE CT,DOMICILIO,LOCALIDAD INEGI,NOMBRE LOCALIDAD,NOMBRE COLONIA,MUNICIPIO,NOMBRE MUNICIPIO,SOSTENIMIENTO,...,DOCENTES,GRUPOS,DOCENETE EDUCACION FISICA,DOCENTE ACTIVIDADES ARTISTICAS,DOCENTE ACTIVIDADES TECNONOLOGICAS,DOCENTE DE IDIOMAS,PERSONAL DE ADMINISTRATIVO Y SERVICIOS,DIRECTOR CON GRUPO,DIRECTOR SIN GRUPO,TOTAL DE PERSONAL
0,14DPR3480S,VESPERTINO,MIGUEL HIDALGO Y COSTILLA,RIO SANTIAGO,1,TIZAPAN EL ALTO,ATRACADERO,96,TIZAPAN EL ALTO,FEDERALIZADO,...,6,6,1,0,0,0,0,0,1,8
1,14DPR2780I,MATUTINO,CONSTITUCION DEL 57,CONOCIDO,54,MESA DE MENDEZ,0,16,AYOTLAN,FEDERALIZADO,...,1,1,0,0,0,0,0,1,0,1
2,14DPR1553G,CONTINUO (JORNADA AMPLIADA),MIGUEL HIDALGO Y COSTILLA,CONOCIDO,31,DOLORES,0,25,COLOTLAN,FEDERALIZADO,...,3,3,1,0,0,0,0,1,0,4
3,14SES0104Q,MATUTINO,NIOS HEROES,ALVARO OBREGON 115,280,SANTA MARIA DEL VALLE,0,8,ARANDAS,PARTICULAR,...,9,3,1,1,1,0,1,1,0,10
4,14EJN0826I,VESPERTINO,EVA GONZALEZ BLANCO,MARCELINO GARCIA BARRAGAN 1954,1,GUADALAJARA,0,39,GUADALAJARA,ESTATAL,...,5,5,1,1,0,0,6,0,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3200,14PJN0904B,MATUTINO,ANTONIO CASO ZAPOPAN,SANTA LAURA 5050,1,ZAPOPAN,SANTA MARGARITA,120,ZAPOPAN,PARTICULAR,...,5,5,1,1,0,3,6,0,1,17
3201,14DPR0101Y,MATUTINO,BENITO JUAREZ,CONOCIDO,37,LAS PAREDES,0,6,AMECA,FEDERALIZADO,...,1,1,0,0,0,0,0,1,0,1
3202,14EPR1466K,CONTINUO (JORNADA AMPLIADA),GUADALUPE VICTORIA,QUERETARO SUR 423,1,UNION DE TULA,0,110,UNION DE TULA,ESTATAL,...,3,3,0,0,0,0,0,1,0,3
3203,14DJN5236D,MATUTINO,NICOLAS BRAVO,MIGUEL HIDALGO 52,22,SAN JOSE DE LAS PILAS (LA PILA CHICA),0,66,PONCITLAN,FEDERALIZADO,...,1,1,0,0,0,0,0,1,0,1
3204,14PJN0929K,MATUTINO,GREENLANDS SCHOOL,AVENIDA ACUEDUCTO 5056,1,ZAPOPAN,LOMAS DEL BOSQUE,120,ZAPOPAN,PARTICULAR,...,3,3,1,0,0,0,1,0,1,6

In [88]:
#Desplegar parte del dataframe
df.head()

,CLAVE CT,NOM TURNO,NOMBRE CT,DOMICILIO,LOCALIDAD INEGI,NOMBRE LOCALIDAD,NOMBRE COLONIA,MUNICIPIO,NOMBRE MUNICIPIO,SOSTENIMIENTO,...,DOCENTES,GRUPOS,DOCENETE EDUCACION FISICA,DOCENTE ACTIVIDADES ARTISTICAS,DOCENTE ACTIVIDADES TECNONOLOGICAS,DOCENTE DE IDIOMAS,PERSONAL DE ADMINISTRATIVO Y SERVICIOS,DIRECTOR CON GRUPO,DIRECTOR SIN GRUPO,TOTAL DE PERSONAL
0,14DPR3480S,VESPERTINO,MIGUEL HIDALGO Y COSTILLA,RIO SANTIAGO,1,TIZAPAN EL ALTO,ATRACADERO,96,TIZAPAN EL ALTO,FEDERALIZADO,...,6,6,1,0,0,0,0,0,1,8
1,14DPR2780I,MATUTINO,CONSTITUCION DEL 57,CONOCIDO,54,MESA DE MENDEZ,0,16,AYOTLAN,FEDERALIZADO,...,1,1,0,0,0,0,0,1,0,1
2,14DPR1553G,CONTINUO (JORNADA AMPLIADA),MIGUEL HIDALGO Y COSTILLA,CONOCIDO,31,DOLORES,0,25,COLOTLAN,FEDERALIZADO,...,3,3,1,0,0,0,0,1,0,4
3,14SES0104Q,MATUTINO,NIOS HEROES,ALVARO OBREGON 115,280,SANTA MARIA DEL VALLE,0,8,ARANDAS,PARTICULAR,...,9,3,1,1,1,0,1,1,0,10
4,14EJN0826I,VESPERTINO,EVA GONZALEZ BLANCO,MARCELINO GARCIA BARRAGAN 1954,1,GUADALAJARA,0,39,GUADALAJARA,ESTATAL,...,5,5,1,1,0,0,6,0,1,14

In [89]:
#Resumen estadistico de los campos
df.describe()

,LOCALIDAD INEGI,MUNICIPIO,HOMBRES 1¡,MUJERES 1¡,TOTAL 1¡,HOMBRES 2¡,MUJERES 2¡,TOTAL 2¡,HOMBRES 3¡,MUJERES 3¡,...,DOCENTES,GRUPOS,DOCENETE EDUCACION FISICA,DOCENTE ACTIVIDADES ARTISTICAS,DOCENTE ACTIVIDADES TECNONOLOGICAS,DOCENTE DE IDIOMAS,PERSONAL DE ADMINISTRATIVO Y SERVICIOS,DIRECTOR CON GRUPO,DIRECTOR SIN GRUPO,TOTAL DE PERSONAL
count,3205.000000,3205.000000,3205.000000,3205.000000,3205.000000,3205.000000,3205.000000,3205.000000,3205.000000,3205.000000,...,3205.000000,3205.000000,3205.000000,3205.000000,3205.000000,3205.000000,3205.000000,3205.000000,3205.000000,3205.000000
mean,68.188456,69.267395,13.990640,13.320437,27.311076,17.495476,16.978783,34.474259,16.887676,16.520437,...,5.691108,4.651482,0.453978,0.239938,0.227145,0.125117,1.866459,0.409048,0.488924,8.658658
std,352.396926,36.099546,28.627149,25.183012,52.093390,24.999908,24.167297,47.835989,23.292725,22.591801,...,7.223604,4.293962,0.702337,0.568769,0.900589,0.652190,4.150073,0.552132,0.588820,11.393876
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,39.000000,0.000000,0.000000,1.000000,3.000000,2.000000,5.000000,2.000000,2.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,3.000000,68.000000,4.000000,4.000000,7.000000,9.000000,9.000000,18.000000,9.000000,9.000000,...,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,5.000000
75%,52.000000,100.000000,15.000000,14.000000,29.000000,23.000000,22.000000,44.000000,23.000000,22.000000,...,6.000000,6.000000,1.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,11.000000
max,9503.000000,125.000000,565.000000,221.000000,565.000000,427.000000,221.000000,427.000000,422.000000,201.000000,...,70.000000,29.000000,6.000000,7.000000,17.000000,15.000000,51.000000,10.000000,7.000000,122.000000

In [90]:
#Mostrar los nombres de las columnas del dataframe
df.columns

Index(['CLAVE CT', 'NOM TURNO', 'NOMBRE CT', 'DOMICILIO', 'LOCALIDAD INEGI',
       ' NOMBRE LOCALIDAD', 'NOMBRE COLONIA', 'MUNICIPIO', 'NOMBRE MUNICIPIO',
       'SOSTENIMIENTO', 'NIVEL', 'PROGRAMA', 'HOMBRES 1¡', 'MUJERES 1¡',
       'TOTAL 1¡', 'HOMBRES 2¡', 'MUJERES 2¡', 'TOTAL 2¡', 'HOMBRES 3¡',
       'MUJERES 3¡', 'TOTAL 3¡', 'HOMBRES 4¡', 'MUJERES 4¡', 'TOTAL 4¡',
       'HOMBRES 5¡', 'MUJERES 5¡', 'TOTAL 5¡', 'HOMBRES 6¡', 'MUJERES 6¡',
       'TOTAL 6¡', 'HOMBRES TOTAL', 'MUJERES TOTAL', 'MATRICULA TOTAL',
       'DOCENTES', 'GRUPOS', 'DOCENETE EDUCACION FISICA',
       'DOCENTE ACTIVIDADES ARTISTICAS', 'DOCENTE ACTIVIDADES TECNONOLOGICAS',
       'DOCENTE DE IDIOMAS', 'PERSONAL DE ADMINISTRATIVO Y SERVICIOS',
       'DIRECTOR CON GRUPO', 'DIRECTOR SIN GRUPO', 'TOTAL DE PERSONAL'],
      dtype='object')

<div class="alert alert-success">
    <b>EJERCICIO 6 </b>:
 <ul>
  <li> Encuentre el número de estudiantes por nivel educativo (PRIMARIA, SECUNDARIA y BACHILLERATO). </li>
</ul> 

</div>

In [ ]:
print(f'Estudiantes primaria: {df[df["NIVEL"] == "PRIMARIA"]["MATRICULA TOTAL"].sum()}')
print(f'Estudiantes secundaria: {df[df["NIVEL"] == "SECUNDARIA"]["MATRICULA TOTAL"].sum()}')
print(f'Estudiantes bachillerato: {df[df["NIVEL"] == "PRIMARIA"]["MATRICULA TOTAL"].sum()}')

Estudiantes primaria: 196298
Estudiantes secundaria: 102051

<div class="alert alert-success">
    <b>EJERCICIO 7 </b>:
 <ul>
  <li>  Encuentre el número de estudiantes hombres y mujeres por nivel educativo (PRIMARIA, SECUNDARIA y BACHILLERATO).    </li>
</ul> 

</div>

In [91]:
print(f'Estudiantes primaria: {len(df[df["NIVEL"] == "PRIMARIA"])}')
print(f'Estudiantes secundaria: {len(df[df["NIVEL"] == "SECUNDARIA"])}')
print(f'Estudiantes bachillerato: {len(df[df["NIVEL"] == "BACHILLERATO"])}')

Estudiantes primaria: 1278
Estudiantes secundaria: 485
Estudiantes bachillerato: 149

<div class="alert alert-success">
    <b>EJERCICIO 8 </b>:
 <ul>
  <li>  ¿Cuál es el promedio de docentes por nivel educativo?  </li>
</ul> 

</div>

In [92]:
print(f'Docentes prom. primaria: {df[df["NIVEL"] == "PRIMARIA"]["DOCENTES"].mean()}')
print(f'Docentes prom. secundaria: {df[df["NIVEL"] == "SECUNDARIA"]["DOCENTES"].mean()}')
print(f'Docentes prom. bachillerato: {df[df["NIVEL"] == "BACHILLERATO"]["DOCENTES"].mean()}')

Docentes prom. primaria: 5.662754303599374
Docentes prom. secundaria: 12.412371134020619
Docentes prom. bachillerato: 10.348993288590604

<div class="alert alert-success">
    <b>EJERCICIO 9 </b>:
 <ul>
  <li>   Encuentre el porcentaje de  escuelas Particulares </li>
</ul> 

</div>

In [93]:
total_escuelas = len(df) - 1

print(f'Porcentaje escuelas particulares: {len(df[df["SOSTENIMIENTO"] == "PARTICULAR"]) / total_escuelas * 100} %')

Porcentaje escuelas particulares: 17.259675405742822 %

<div class="alert alert-success">
    <b>EJERCICIO 10 </b>:
 <ul>
  <li>   Encuentre el porcentaje de  escuelas PREESCOLAR, PRIMARIA,  SECUNDARIA y BACHILLERATO  </li>
</ul> 

</div>

In [94]:
print(f'Porcentaje preescolar: {len(df[df["NIVEL"] == "PREESCOLAR"]) / total_escuelas * 100} %')
print(f'Porcentaje primaria: {len(df[df["NIVEL"] == "PRIMARIA"]) / total_escuelas * 100} %')
print(f'Porcentaje secundaria: {len(df[df["NIVEL"] == "SECUNDARIA"]) / total_escuelas * 100} %')
print(f'Porcentaje bachillerato: {len(df[df["NIVEL"] == "BACHILLERATO"]) / total_escuelas * 100} %')

Porcentaje preescolar: 40.355805243445694 %
Porcentaje primaria: 39.8876404494382 %
Porcentaje secundaria: 15.137328339575532 %
Porcentaje bachillerato: 4.65043695380774 %